{% extends 'admin1.html' %}
{% block content %}
<div class="container">
    <div class="col-sm-4">
</div>
      <div class="col-sm-4">
    <form class="form-inline" enctype="multipart/form-data" method="post" action="{% url 'admin1:check' %}">
        {% csrf_token %}

        <label class="">logo:</label>
        <input type="file" class="form-control" name="logo"><br>
        <label class="">item name:</label><input type="text" name="name" class="form-control"><br>
        <label>quantity:</label><input type="text" name="quantity" class="form-control"><br>
        <label class="">price:</label><input type="text" name="price" class="form-control"><br>
        <input class="btn btn-primary form-control" value="submit" type="submit">
    </form>
      </div>
</div>
{% endblock %}