{% extends 'main.html' %}
{% block content %}

<div class="page-header text-center">
  <h1>ABOUT US </h1>

</div>
<div class="container">
  <div class="row">
<div class="col-sm-4">
</div>
      <div class="col-sm-4">
          <p>
             In 1917, 15-year-old Ray Kroc lied about his age to join the Red Cross as an ambulance driver, but the war ended before he completed his training. He then worked as a piano player, a paper cup salesman and a Multimixer salesman.

In 1954, he visited a restaurant in San Bernardino, California that had purchased several Multimixers. There he found a small but successful restaurant run by brothers Dick and Mac McDonald, and was stunned by the effectiveness of their operation. They produced a limited menu, concentrating on just a few items – burgers, fries and beverages – which allowed them to focus on quality and quick service.

They were looking for a new franchising agent and Kroc saw an opportunity. In 1955, he founded McDonald’s System, Inc., a predecessor of the McDonald’s Corporation, and six years later bought the exclusive rights to the McDonald’s name and operating system. By 1958, McDonald’s had sold its 100 millionth hamburger.
          </p>
      </div>
  </div>
</div>
<!--<div class="container-fluid img1">-->
<!--<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">-->
		<!--<div class="overlay"></div>-->
		<!--<div class="gtco-container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-12 col-md-offset-0 text-center">-->


					<!--<div class="row row-mt-15em">-->
						<!--<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">-->

							<!--<h1 class="cursive-font">It's our pleasure to serve!</h1>-->
						<!--</div>-->

					<!--</div>-->


				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</header>-->



	<!--<div id="gtco-features">-->
		<!--<div class="gtco-container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">-->
					<!--<h2 class="cursive-font">Our Services</h2>-->
					<!--<p>WE OFFERS YOU THE FOOD THAT MAKE YOU TO HAVE IT AGAIN AND AGAIN</p>-->
			<!--</div>-->
			<!--<div class="row">-->
				<!--<div class="col-md-4 col-sm-6">-->
					<!--<div class="feature-center animate-box" data-animate-effect="fadeIn">-->

						<!--<h3>Happy People</h3>-->
						<!--<p>WE WILL ALWAYS OFFERS GOOD AND QUALITY FOOD WITH LOW COST WITH HIGH QUALITY-->
						<!--AND	WE WILL ALWAYS ASK PEOPLE FOR FEEDBACK</p>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-md-4 col-sm-6">-->
					<!--<div class="feature-center animate-box" data-animate-effect="fadeIn">-->

						<!--<h3>TASTY FOOD</h3>-->
						<!--<p>WE OFFERS YOU  FOOD THAT WILL MAKE YOU CLOSE YOUR EYES LEAN BACK, AND WHISPER "yessss."</p>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-md-4 col-sm-6">-->
					<!--<div class="feature-center animate-box" data-animate-effect="fadeIn">-->

						<!--<h3>FOOD DELEVERY</h3>-->
						<!--<p>WE DELIVER YOU HIGH QUALITY FOOD WITH HIGH QUALITY INGREDIENTS</p>-->
					<!--</div>-->
				<!--</div>-->


			<!--</div>-->
		<!--</div>-->
	<!--</div>-->


	<!--<div style="padding-bottom:20px;" class="gtco-cover gtco-cover-sm" style="background-image: url(images/img_bg_1.jpg)"  data-stellar-background-ratio="0.5">-->
		<!--<div class="overlay"></div>-->
		<!--<div class="gtco-container text-center">-->
			<!--<div class="display-t">-->
				<!--<div class="display-tc">-->
					<!--<h1>&ldquo; Their high quality of service makes me back over and over again!&rdquo;</h1>-->

				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->


<!--</div>-->

{% endblock %}